@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: "Brown";
  src: url("/Fonts/Brown-Font/BrownMedium Regular.ttf" format("ttf"));
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
    
  }
  
  .navbar {
    background: #343a40;
  }
}

body {
  background: #F7F8FC;
  height: 100%;
}

h1, h2, h5, p {
  color: #1D325E;
  text-align: center;
  font-family: "Brown";
}

.navbar {
  background: #1C325E;
}

.logo {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.heat {
  border-radius: 50%;
  height: 200px;
  width: auto;
}

img {
  height: 30px;
  width: 30px;
  margin-top: 10px;
}

footer {
  background-color: #1C325E;
  width: 100%;
  left: 0px;
  bottom: 0px;
  height: 85px;
  position: fixed;
}

.heatCard {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.heat-text {
  padding-bottom: 50px;
}

.heatCardFooter {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
}

a {
  color: #1D325E;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: transparent;
  -webkit-text-stroke: 2px #E7E239;
  cursor: pointer;
}

a:visited:hover {
  color: {background-color: #059694}
;
}

.Title {
  color: #1D325E;
  font-family: "Brown";
  font-weight: bold;
}
