@import '~bootstrap/scss/bootstrap';

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }
  
  .navbar {
    background: #343a40;
  }
}

body {
  background: #F7F8FC;
  height: 100%;
}

h1, h2, h5, p {
  color: #999D9D;
  text-align: center;
}

.navbar {
  background: #1C325E;
}

.logo {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.heat {
  border-radius: 50%;
  height: 200px;
  width: auto;
}

img {
  height: 30px;
  width: 30px;
  margin-top: 10px;
}

footer {
  background-color: #1C325E;
  width: 100%;
  left: 0px;
  bottom: 0px;
  height: 85px;
  position: fixed;
}